*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.for-formulario 
{
    width: 500px;
    background-color: rgba(231, 107, 175, 0.599);
    padding: 100px;
    margin:auto;
    margin-top: 150px;
    border-radius: 70px;
    border: 1px solid rgb(0, 0, 0)
}
.control {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
}
.boton {
    width: 500px;
    background-color: rgb(255, 0, 144);
    padding: 50px;
    margin:auto;
    margin-top: 50px;
    border-radius: 10px;
    border: 7px solid rgb(227, 144, 171)
}